@CHARSET "ISO-8859-1";

.bloco .card-panel{
	cursor: pointer;
}

.loader .preloader-wrapper{
	z-index: 1000;
	position: absolute;
	left: 46%;
	top: 42%;
}

.cancel-on-png,
.cancel-off-png,
.star-on-png,
.star-off-png,
.star-half-png{
	font-size: 1em;
}


.lista-favoritos-rapida{
	height: 100%;
}
	.lista-favoritos-rapida .arvore-pastas{
		float: left;
	}
	.lista-favoritos-rapida .self-scroll{
	    height: 100%;
    	overflow-y: auto;
	}
	

.check-bloco{
	position: relative; 
	display: none;
}
.bloco:hover .check-bloco{
	display: block;
}		
.check-bloco .checkbox{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 97px;
    z-index: 2;
}

.gerenciador-bloco {
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    background-color: blue;
    z-index: 999;
}
	.gerenciador-bloco .barra-acao{
		float: right;
	}

		