@CHARSET "ISO-8859-1";

.bloco .card-panel{
	cursor: pointer;
	border: 3px solid #0097a7;
}

.bloco .card-selecionado{
	border-color: #004d40;
}

.loader .preloader-wrapper{
	z-index: 1000;
	position: absolute;
	left: 46%;
	top: 42%;
}

.cancel-on-png,
.cancel-off-png,
.star-on-png,
.star-off-png,
.star-half-png{
	font-size: 1em;
}


.lista-favoritos-rapida{
	height: 100%;
}
	.lista-favoritos-rapida .arvore-pastas{
		float: left;
	}
	.lista-favoritos-rapida .self-scroll{
	    height: 100%;
    	overflow-y: auto;
	}
	

.check-bloco{
	position: relative; 
	display: none;
}

.check-bloco-ativo{
	position: relative; 
	display: block;
}

.bloco:hover .check-bloco{
	display: block;
}		
.check-bloco .checkbox{
    position: absolute;
    width: 20px;
    height: 20px;
    left: -10px;
    top: -2px;
    z-index: 2;
}

[type="checkbox"].check-card:checked+label:before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

[type="checkbox"].check-card+label:before, [type="checkbox"].check-card+label:after {
    content: '';
    left: 0;
    position: absolute;
    transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
    z-index: 1;
}

[type="checkbox"].check-card+label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 1;
    border: 2px solid rgba(90, 90, 90, 0);
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
}

[type="checkbox"].check-card:not(:checked)+label:after {
    height: 20px;
    width: 20px;
    background-color: #0097a7;
    border: 2px solid #004d40;
    border-radius: 50px;
    top: 0px;
    z-index: 0;
}

[type="checkbox"].check-card:checked+label:after {
    top: 0px;
    width: 20px;
    height: 20px;
    border: 2px solid #004d40;
    border-radius: 50px;
    background-color: #FF5252;
    z-index: 0;
}

[type="checkbox"].check-card+label:after {
    border-radius: 2px;
}

.gerenciador-bloco {
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    background-color: #ee6e73;
	z-index: 998;
	line-height: 64px;
}

.gerenciador-bloco .barra-acao{
	float: right;
	margin-right: 5px;
}

.gerenciador-bloco .barra-info{
	padding-left: 270px;
	color: #e0f7fa;
   	font-weight: bold;
}

.gerenciador-bloco .barra-contador{	
	position: absolute;
    display: inline-block;
    font-size: 1.4rem;
    padding: 0;
    white-space: nowrap;
}