@CHARSET "ISO-8859-1";

.bloco .card-panel{
	cursor: pointer;
}

.loader .preloader-wrapper{
	z-index: 1000;
	position: absolute;
	left: 46%;
	top: 42%;
}

.cancel-on-png,
.cancel-off-png,
.star-on-png,
.star-off-png,
.star-half-png{
	font-size: 1em;
}


.lista-favoritos-rapida .arvore-pastas{
	float: left;
}