<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>INDEX</title>
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="lib/materialize/v0.97.0/css/materialize.min.css"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="lib/jstree/dist/themes/default/style.min.css" />
		<link rel="stylesheet" type="text/css" href="css/elements.css" />
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	</head>

	<body>
		<div id="view" style="height: 500px;"></div>
	</body>

	<script src="lib/jquery-1.11.2/jquery.min.js"></script>
	<script type="text/javascript" src="lib/materialize/v0.97.0/js/materialize.min.js"></script>
	<script src="lib/jstree/dist/jstree.min.js"></script>
	
	<script src="js/elements.js"></script>
	<script src="js/mapper.js"></script>
	<script src="js/servicos.js"></script>
	
	
	<script type="text/javascript">
		servicos.buscarHierarquiaDePastas(
	   		function(data){
	   			console.log(data.content)
	   			var listaRapida = Element.ListaDeFavoritosRapida(
					data.content
					,
					servicos.buscarArquivos
					,
					function(favorito){
						alert('inserir no acesso rápido o favorito ' + favorito.titulo)
					}
				);
	   			$('#view').append(listaRapida.getElement());		
	   		}
	    )
	</script>
</html>